@media screen and (min-width: 1366px) {
    .container{max-width: 1300px;}
}

@media only screen and (max-width: 991px) {
    html {
        overflow-x: hidden;
    }
    body {
        padding-top: 0;
        overflow-x: hidden;
    }
    .mobile {
        display: block !important;
    }
    .desktop {
        display: none !important;
    }
    .navBtn{
        color: #fff !important;
    }
    nav#mainNav .nav-item {
        padding: 15px 0;
        border-bottom: solid 1px #e4e7ee00;
    }
    nav#mainNav .nav-item {
        padding: 0 0;
    }
    nav#mainNav .nav-item>a {
        padding: 15px 0;
        color: #fff;
    }
    .dropdown {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .dropdown i {
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid rgb(228 231 238);
        font-size: 14px !important;
        color: #000 !important;
    }
    .dropdownMenu {
        position: static;
        width: 100%;
        flex: 0 0 100%;
        display: none;
    }
    .dropdownMenu {
        box-shadow: none;
        padding-left: 10px;
        background: #000;
    }
    .dropdownMenu li a {
        padding: 12px 0;
        border-bottom: solid 1px #e4e7ee3d;
        /* color: #000 !important; */
    }
    nav#mainNav .nav-item:hover {
        background: transparent !important;
        color: #000 !important;
    }
    nav#mainNav .nav-item:hover>a {
        color: #000 !important;
    }
    nav#mainNav .nav-item:hover i {
        opacity: 1;
    }
    .dropdown.active .dropdownMenu {
        display: block;
        border-radius: 10px;
        opacity: 1;
        transform: scaleX(1);
        transition: top .3s ease 0s,opacity .3s;
    }
   
    .mainHeader.fixedHeader {
        top: 0;
    }
    .navbar-light .navbar-toggler {
        border: none;
        padding: 0;
        color: #fff;
    }
    div#navbarSupportedContent {
        position: fixed;
        top: 0;
        width: 100%;
        left: -0px;
        background: #000;
        height: 100vh;
        padding: 20px;
        z-index: 9;
        display: block;
        transform: translateX(-100%);
        transition: all 400ms ease;
    }
    .cross-toggler {
        background: #fff;
        color: #b9b9b9;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #e4e7ee;
        font-size: 20px;
    }
    div#navbarSupportedContent.active {
        left: 100%;
        transition: all 400ms ease;
    }
    body.transform {
        transform: translateX(-320px);
        overflow: hidden;
    }
    .overLay {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0 0 0 / 51%);
        top: 0;
        left: 0;
        display: none;
    }
    .overLay.active {
        display: block;
    }
    nav#mainNav {
        padding: 8px 15px;
    }
    section.midForm {
        flex-wrap: wrap;
        min-height: 1px;
    }
    
    .formContent {
        /* order: 2; */
        width: 100%;
        height: auto;
    }
    
    .form {
        width: 100%;
        min-height: 1px;
        padding: 50px 0;
    }
    
    .formContent img {
        height: auto;
    }
    .formContent h3 {
        font-size: 24px;
        bottom: 30px;
    }
    .sectionFormWrp {
        flex-wrap: wrap;
    }
    
    .formSteps ul {display: flex;max-width: 100%;}
    
    .bottomImg {
        display: none;
    }
    
    .formSteps {
        min-width: 100%;
        padding: 10px;
    }
    .formSteps ul li{
        padding: 0 10px;
    }
    .stepName{
        display: none;
    }
    .formSteps ul li:after {
        width: 20px;
        height: 1px;
        position: absolute;
        left: -10px;
        top: 15px;
        background: #F0F0F0;
    }

}
@media only screen and (max-width: 767px) {
    
}
@media only screen and (max-width: 460px) {}