@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }
  body {font-family: 'Plus Jakarta Sans', sans-serif; font-size: 14px;padding-top: 0;}
  a, a:hover, a:focus {  text-decoration: none;  transition: all 400ms ease; }
  img{max-width: 100%}
  /* h1, h2, h3, h4, h5, h6 {  } */
  input, button { outline: none !important; box-shadow: none; }
  button{cursor: pointer;}
.gap-1{
    gap: 10px;
}
.gap-2{
    gap: 20px;
}
.gap-3{
    gap: 30px;
}
.gap-4{
    gap: 40px;
}
.gap-5{
    gap: 50px;
}
  .full-width{
    width: 100%;
  }
  
  .underLine {
      text-decoration: underline;
      color: #000000;
  }
  .listInline {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      gap: 10px;
  }
  .gap20{
      gap: 20px;
  }
  .underLine:hover {
      text-decoration: none;
      color: #000;
  }
  .owl-carousel .owl-item img{
      width: auto;
  }
  .topGap{
      padding-top: 140px;
  }
  .fullWidth{width: 100%;}
  .mobile{display: none !important;}
  .mainHeader {
      background: transparent;
  }
  .mainHeader.fixedHeader {
      top: 0;
      transition: all 400ms ease;
      box-shadow: 0 0 10px #0000002e;
  }
  
  a.navbar-brand {
      font-size: 32px;
  }
  nav#mainNav {
      background: transparent !important;
      padding: 10px 15px;
  }
  .fixedHeader nav#mainNav {
      background: #000 !important;
  }
  .navbar-brand img {
      /* max-width: 200px; */
      height: 55px;
  }

  li.menu-item a {
      color: #fff;
      display: block;
      padding: 5px 10px;
      margin-bottom: 2px;
      border-radius: 3px;
  }
  
  li.menu-item a:hover {
      background: #ed4834;
  }
  
  nav#mainNav .nav-item > a {
      font-size: 15px;
      color: #3F4254;
      padding: 8px 13px;
      position: relative;
      font-family: 'Plus Jakarta Sans';
      border: solid 1px transparent;
      border-radius: 10px;
  }

  nav#mainNav .nav-item > a:hover {
      color: #ED7B3B;
      border: solid 1px #ED7B3B;
  }

  nav#mainNav .nav-item {
      padding: 0 10px;
      display: flex;
      align-items: center;
  }
  
  .dropdown {
      display: flex;
      align-items: center;
      position: relative;
  }
  
  nav#mainNav .nav-item.noHover:hover {
      background: transparent;
  }
  nav#mainNav .nav-item.dropdown:hover > a{
      color:#fff;
  }
  nav#mainNav .nav-item i {
      color: #fff;
  }
  nav#mainNav .nav-item .nav-link.darkBtn i{
      font-size: 15px;
  } 
  nav#mainNav .nav-item:hover i{
      opacity: 1;
  }
  .userProfile {}

  .profileName {
      text-align: right;
      padding-right: 15px;
  }
  
  .profileName span {
      font-size: 12px;
      color: #A1A5B7;
  }
  
  .profileName h4 {
      font-size: 13px;
      color: #000000;
  }
  
  .profileImg img {
      width: 32px;
      border-radius: 5px;
  }





  





  .midForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.formContentImg img {
/*    max-width: 340px;*/
    max-width: 100%;
}

.formBx {
    width: 70%;
    max-width: 380px;
}
.form {
    width: 50%;
    min-height: 100vh;
    background: #FFFAF4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control {
    color: rgba(51, 35, 126, 1);
    border-radius: 8px;
    height: auto;
    padding: 8px 15px;
    font-size: 14px;
    border: solid 1px #D0D5DD;
}

.formBx h1, .formBx h2 {
    font-size: 32px;
    color: #101828;
    font-weight: 600;
}
.formBx h2 {
    font-size: 28px;
}

.formBx h5 {
    font-size: 18px;
    font-weight: 400;
}
.formBx label{
    font-size: 16px;
    font-weight: 500;
    color: #344054;
}

.full-width{
    width: 100% !important;
}
.orangeBtn, .lineBtn, .greyBtn {
    padding: 10px;
    background: #ED7B3B;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.lineBtn{
    border: solid 1px #898691;
    color: #898691;
    background: transparent;
}
.greyBtn{
    background: #515B6F;
    color: #fff;
}
.logoImg {
    display: block;
    margin: 0 auto 30px;
    max-width: 80px;
}
.formContent {
    width: 50%;
    height: 100vh;
    position: relative;
}
.formContent img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.formContent h3 {
    font-size: 36px;
    color: #ED3B41;
    line-height: 1.4;
    position: absolute;
    left: 50px;
    bottom: 50px;
    margin: 0;
}
.inputGroup {
    display: flex;
    gap: 20px;
    text-align: center;
}
.inputGroup input {
    font-size: 28px;
    text-align: center;
}
.customradio, .customCheckbox {
    display: none;
}

.customradio + label:after, .customCheckbox + label:after{
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 50%;
    border: solid 2px #ED7B3B;
}
.customCheckbox + label:after{
    width: 19px;
    height: 19px;
    border-radius: 4px;
    border-color: #515B6F;
}
.customradio + label, .customCheckbox + label {
    position: relative;
    padding-left: 20px;
}
.customCheckbox + label{
    padding-left: 25px;
    color: #1D183E !important;
}
.customradio:checked + label:before, .customCheckbox:checked + label:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 3px;
    top: 6px;
    background: #ED7B3B;
    border-radius: 50%;
}
.customCheckbox:checked + label:before{
    background: #515B6F;
    width: 19px;
    height: 19px;
    left: 0;
    border-radius: 4px;
    top: 3px;
}
.customCheckbox:checked + label:after{
    background: url(../images/tick.png) center center no-repeat;
}
.resend {
    text-align: right;
    font-size: 14px;
    color: #ED7B3B;
}
.midSection {
    background: #F0F0F0;
    padding: 30px 0;
}

.blackBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sectionFormWrp {
    display: flex;
    gap: 30px;
}

.formSteps {
    background: #fff;
    min-width: 260px;
    border-radius: 10px;
    padding-top: 50px;
}

.formSection {
    background: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

.formSteps ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: block;
    max-width: 200px;
}

.formSteps ul li .stepCount {
    font-size: 16px;
    width: 30px;
    height: 30px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.formSteps ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    font-size: 14px;
    color: #8C8C8C;
    position: relative;
}

.formSteps ul li:after {
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    left: 14px;
    top: -15px;
    background: #F0F0F0;
}
.formSteps ul li.active .stepCount {
    background: #FDB601;
    color: #000;
}

.formSteps ul li.active:after {
    background: #FDB601;
}

.formSteps ul li.active {
    color: #000;
}

.formSteps ul li:first-child:after {
    display: none;
}
.bottomImg {
    padding: 50px 10px 0;
}

section.inrbanner h1 {
    color: #fff;
    font-size: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

section.inrbanner {
    position: relative;
}

section.inrbanner img {
    height: 150px;
    object-fit: cover;
}
.bottomImg img {
    width: 100%;
}
.formSection h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 30px;
}

.formSection label {
    font-size: 16px;
    font-weight: 400;
    color: #515B6F;
}

.formSection label sup {
    font-size: 100%;
    color: #ED7B3B;
    top: -3px;
}

.formSection .form-control {
    border-radius: 8px;
    border-color: #D6DDEB;
    font-size: 16px;
    color: #515B6F;
}
.inputIcon {
    position: absolute;
    right: 25px;
    bottom: 8px;
}


.filterSec {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.filterSec h2 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.filterSec .form-control {
    color: #8C8C8C;
    font-size: 16px;
}

.filterSec label, .filterSec h3 {
    font-size: 16px;
    color: #515B6F;
}
.profileBx {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.profileBxDetails h3 {
    font-size: 20px;
    color: #212529;
    font-weight: 600;
    margin: 10px 0;
}

.tagList {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 6px;
}

.tagList li {
    background: #EAEAEA;
    font-size: 11px;
    padding: 4px 5px;
    border-radius: 3px;
}
.profileBx .lineBtn, .profileBx .orangeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
    border-radius: 8px;
}
.profileBxImg img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 5px;
}
.breadcrum h1 {
    font-size: 20px;
    color: #181C32;
}

.breadcrum .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrum p {
    color: #515B6F;
    font-size: 13px;
}

.breadcrum p a {
    color: #B5B5C3;
}
.profileDetailsWrp {
    padding: 20px;
    background: #FFFAF4;
    border-radius: 8px;
}

.centerLogo img {
    width: 52px;
}

.centerLogo h3 {
    font-size: 24px;
    color: #1D1B20;
}

.centerLogo {
    margin: 0 0 20px;
}

.profileImgagesWrp {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.largeThumb {
    min-width: 300px;
    /* width: 30%; */
}

.profileContent {
    width: 100%;
    min-width: 70%;
}

.largeThumb img {
    width: 100%;
    border-radius: 10px;
}

.profileContent h2 {
    font-size: 28px;
    color: #262626;
    font-weight: 600;
    margin: 0 0 15px;
}

.profileContent ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.profileContent ul span {
    color: #ED7B3B;
}

.profileContent ul li {
    font-size: 18px;
}

.profileContent h3 {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    margin: 0 0 15px;
}

.smallThumb img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 5px;
}

.profileDetailsSection h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #ED7B3B;
    font-weight: 500;
    margin: 0 0 15px;
}

.profileDetailsSection {
    margin: 0 0 30px;
}

.fiveCol {
    display: flex;
    flex-wrap: wrap;
}

.fiveCol > div {
    width: calc(100% / 5);
    margin: 0 0 20px;
}

.cnt h4 {
    font-size: 16px;
    color: #787689;
    font-weight: 400;
}

.cnt h5 {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.cnt .tagList li {
    color: #1F1D1D;
    background: #ED7B3B33;
    font-size: 14px;
    border-radius: 50px;
    padding: 5px 15px;
}

.cnt .tagList {
    gap: 10px;
}
.smallThumbWrp{
    flex-wrap: wrap;
}




